<!DOCTYPE html>
<html>
    <head>
    <title>addpessoa</title>
    <style>
    body {
        background-color: #C0C0C0;
    }
    </style>
    </head>
    <body>
        {% if session["usuario"]%}
        <p>
        <form action="/logout">
        <input type="submit" value="LOGOUT">
        </form>
        </p>
        {% else %}
        <p>
        <form action="/login_form">
        <input type="submit" value="LOGIN">
        </form>
        </p>
        {% endif %}
        <br></br>
        <p><b>Salvar Receita</b></p>
        <br></br>
        <form action= "/lista_receita" method= post>
        <p>Nome: <input type="text" name="Nome"></input></p>
        <p>Ingredientes: 
        <select name="Ingre">
            {% for ingre in lista_ingredientes: %}
            <option value={{ingre.id}}> {{ingre.nome}} </option>
            {% endfor %}
        </select> 
            
            </p>
        <p>Quantidade: <input type="text" name="Quant"></p>
        <br></br>
        <input type="submit" value="enviar"/>
        </form>
        <br></br>
        <br></br>
        
    </body> 
</html>